@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "alliance";
  src: url("../fonts/alliance.ttf");
}

html {
  background-color: #000;
}
